.parent{
    border: 1px solid black;
    text-align: justify;
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}
.child{
    text-align: center;
    width: 100px;
    height: 40px;
    border: 1px solid green;
}
.clearfix{
    clear: both;
}