.block{
	position: absolute;
	width: 200px;
	height: 200px;
}

.first-block{
	top: 50px;
	left: 50px;
	background: red;
	z-index: 1;
}
.second-block{
	top: 150px;
	left: 150px;
	background: green;
	z-index: -1;
}
.third-block{
	top: 250px;
	left: 250px;
	background: blue;
}