$size: 20px;
$font-size: 14px;
				
.active {
	@if $size < $font-size {
		color: red;
	} @else if $size > $font-size {
		color: green;
	} @else {
		color: #000000;
	}
}

.not-active {
	@if $size == $font-size {
		display:block ;
	} @else {
		display: none;
	}
}